<% include ../partials/boilerplate %>

<h1>USER PAGE FOR <%=friendUser.fname%></h1>
<%- message %>

<% if (!areFriends && !pending) { %>
  <p>Friend them to find out more!</p>
<% } %>

<% if (pending) { %>
  <p> Waiting on their friendship response...don't be discouraged...</p>
<% } %>

<% if (!pending && !friends && !areFriends) { %>
  <form action='/friend/addFriend/<%=friendUser.username%>' method='get'>
    <input type='submit' value="Add Friend!"/>
  </form>
<% } %>

<% if (areFriends) { %>
  <h4><%= friendUser.fname %>'s about me!</h4>
  <p><%= friendUser.aboutme %>
<% } %>
<br>
<br>
<h3>Post on <%= friendUser.fname %>'s' wall?</h3>
<form action='/post/friend/<%= friendUser.username %>' method='post'>
  <label>
    <textarea name="content" class="textBox" placeholder="Write something!"></textarea>
  </label>
  <button type='submit'>Post</button>
</form>
<% if (friendPosts) { %>
  <div id = 'friendPosts'>
      <% for (let onePost of friendPosts) { %>
          <div id='author'>
            <p>Author: <%= onePost.author %></p>
          </div>
          <div id='onePost'>
            <p><%= onePost.content %></p>
          </div>
          <% if(user.username === onePost.author) { %>
            <form action='/post/friend/edit/<%=onePost.post_id%>' method='get'>
                <button type='submit'>Edit</button>
            </form>
            <form action='/post/friend/delete/<%=onePost.post_id%>' method='post'>
                <button type='submit'>Delete</button>
            </form>
          <% } %>
          <% if (onePost.likes) { %>
          <div id='like'>
            <p>Likes: <%= onePost.likes %></p>
          </div>
          <% } %>
          <% if (user.username != onePost.author) { %>
            <div id='likeButton'>
              <% if (!alreadyLikes) {%>
                <form action='/friend/addLike/<%=onePost.post_id%>' method='post'>
                  <input type='submit' value='Like'/>
                </form>
              <% } else { %>
                <form action='/friend/removeLike/<%=onePost.post_id%>' method='post'>
                  <input type='submit' value='Like'/>
                </form>
            <% } %>
          </div>
          <% } %>
    </div>
    <br>
  <% } %>
<% } %>

<% include ../partials/footer %>
