<% include ../partials/boilerplate %>

<h1>USER PAGE FOR <%=user%></h1>
<%- message %>
<p><%=user%>'s Profile: <%=user.aboutme%></p>
<% if (!friends && !pending) { %>
  <form action='/friend/addFriend/<%=user%>' method='get'>
    <input type='submit' value="Add Friend!"/>
  </form>
<% } %>

<% include ../partials/footer %>
