<% include ../partials/boilerplate %>

<h1>USER PAGE FOR <%=user.username%></h1>
<%- message %>
<% if (nonFriends) { %>
  <% include ../partials/otherUsers %>
<% } %>
<% if (pending) { %>
  <% include ../partials/pendingFriends %>
<% } %>
<h4>Your information:</h4>
<p>Your name: <%=user.lname%>, <%=user.fname%> <%=user.lname%></p>
<p>Your username: <%=user.username%></p>
<% include ../partials/profile %>
<form action='/profile/edit/<%=user.username%>' method='get'>
  <p>Edit your information</p><input type='submit' value='Edit'/>
</form>
<form action='/profile/delete' method='get'>
  <p>Delete your account? Are you sure?...ok, then, click here!</p><input type='submit' value='Delete'/>
</form>
<% include ../partials/footer %>
