<% include ../partials/boilerplate %>

<h1>USER PAGE FOR <%=user.username%></h1>
<%- message %>

<% if (pending) { %>
  <div class='pendingFriends'>
    <% include ../partials/pendingFriends %>
  </div>
<% } %>

<h3>Post on your wall?</h3>
<form action='/post' method='post'>
  <label>
    <textarea name="content" class="textBox" placeholder="Write something!"></textarea>
  </label>
  <br>
  <input type="radio" name="rest" value="1">Public<br>
  <input type="radio" name="rest" value="2">Private<br>
  <input type="radio" name="rest" value="3">Friends<br>
  <button type='submit'>Post</button>
</form>

<h4>Your information:</h4>
<p>Your name: <%=user.lname%>, <%=user.fname%> <%=user.lname%></p>
<p>Your username: <%=user.username%></p>
<% include ../partials/profile %>

<form action='/profile/edit/<%=user.username%>' method='get'>
  <input type='submit' value='Edit Profile'/>
</form>

<% if (userPosts) { %>
  <div class = 'yourPosts'>
    <% for (let onePost of userPosts) { %>
      <div id='author'>
        <p>Author: <%= onePost.author %></p>
      </div>
      <div id='onePost'>
        <p><%= onePost.content %></p>
      </div>
      <% if(user.username === onePost.author) { %>
        <form action='/post/friend/edit/<%=onePost.post_id%>' method='get'>
            <button type='submit'>Edit</button>
        </form>
        <form action='/post/friend/delete/<%=onePost.post_id%>' method='post'>
            <button type='submit'>Delete</button>
        </form>
      <% } %>
      <% if (onePost.likes) { %>
      <div id='like'>
        <p>Likes: <%= onePost.likes %></p>
      </div>
      <% } %>
      <% if (onePost.likes) { %>
      <div id='like'>
        <p>Likes: <%= onePost.likes %></p>
      </div>
      <% } %>
      <% if (user.username != onePost.author) { %>
        <div id='likeButton'>
          <% if (!alreadyLikes) {%>
            <form action='/friend/addLike/<%=onePost.post_id%>' method='post'>
              <input type='submit' value='Like'/>
            </form>
          <% } else { %>
            <form action='/friend/removeLike/<%=onePost.post_id%>' method='post'>
              <input type='submit' value='Like'/>
            </form>
        <% } %>
      </div>
      <% } %>
  </div>
  <br>
  <% } %>
<% } %>

<% include ../partials/footer %>
